name: Kotlin - Integration Test

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v6
    - name: Install Gradle
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install & build with Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: npx playwright install-deps
    - run: sudo apt-get update && sudo apt-get install -y libvpx7
    - name: Build app
      run: yarn build
    - name: Start app
      run: yarn start &
    - name: Wait for app to Start
      run: sleep 5
    - run: cd tests/integration/olddanishdictionarye2e && ./gradlew test -i
      env:
        CI: true
